HEAD
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
**/build/
**/.gradle/
**/local.properties
**/*.iml
**/.idea/
e621d70ac123141bf7a1e5ee48ecf7186fe6172f
